<p>This is your email: {{email}}</p>
<br />
<p>These are your answers: </p>

{{# each answers as |value key|}}
  <div class = "block-item">
    {{# each value as |v k|}}

        {{#eq k "sceneName"}}
            <p>Scene: {{v.id}}</p>
        {{/eq}}

        {{#eq k "indexNumber"}}
            <p>Scene Item No. {{v.id}}</p>
        {{/eq}}

        {{#eq k "violStructID"}}
            <p>{{v.id}}</p>
        {{/eq}}

        {{#eq k "violYN"}}
          <p>Where there any violations?</p>
          <div class = "usr-col">
            <p>You said: {{v.usrAns}}</p>
          </div>
          <div class = "ans-col">
            <p>We said: {{v.ans}}</p>
          </div>
        {{/eq}}

        {{#eq k "codeId"}}
          <p>Where there any citable codes?</p>
          <div class = "usr-col">
            <p>You said: {{v.usrAns}}</p>
          </div>
          <div class = "ans-col">
            <p>We said: {{v.ans}}</p>
          </div>
        {{/eq}}

        {{#eq k "violDescUser"}}
          <p>Describe the violation (Answers may vary): </p>
          <div class = "usr-col">
            <p>You said: {{v.usrAns}}</p>
          </div>
          <div class = "ans-col">
            <p>We said: {{v.ans}}</p>
          </div>
        {{/eq}}

        {{#eq k "endangered"}}
          <p>Is there a possibility of endangerment?</p>
          <div class = "usr-col">
            <p>You said: {{v.usrAns}}</p>
          </div>
          <div class = "ans-col">
            <p>We said: {{v.ans}}</p>
          </div>
        {{/eq}}

        {{#eq k "responsibleParty"}}
          <p>Who would be the responsible party in this case?</p>
          <div class = "usr-col">
            <p>You said: {{v.usrAns}}</p>
          </div>
          <div class = "ans-col">
            <p>We said: {{v.ans}}</p>
          </div>
        {{/eq}}

        {{#eq k "referral"}}
          <p>Where should this be referred?</p>
          <div class = "usr-col">
            <p>You said: {{v.usrAns}}</p>
          </div>
          <div class = "ans-col">
            <p>We said: {{v.ans}}</p>
          </div>
        {{/eq}}
    {{/each}}
    
  </div>
{{/each}}
