<p>This is your name: {{name}}</p>
<p>This is your email: {{email}}</p>
<br />
<p>These are your answers: </p>

{{# each answers as |value key|}}
  
  <h4>{{key}}: </h4> 
  <div>

    {{# each value as |v k|}}

        {{#eq k "sceneName"}}
            <p>Scene: {{v.id}}</p>
        {{/eq}}

        {{#eq k "indexNumber"}}
            <p>Scene Item No. {{v.id}}</p>
        {{/eq}}

        {{#eq k "violStructID"}}
            <p>{{v.id}}</p>
        {{/eq}}

        {{#eq k "violYN"}}
          <p>Where there any violations?</p>
          <p>You answered: {{v.usrAns}}</p>
            {{#if v.correct }}
              <p>Correct!</p>
            {{else}}
              <p>Incorrect</p>
              <p>The correct answer was: {{v.ans}}</p>
            {{/if}}
        {{/eq}}

        {{#eq k "codeId"}}
          <p>Where there any citable codes?</p>
          <p>You answered: {{v.usrAns}}</p>
            {{#if v.correct }}
              <p>Correct!</p>
            {{else}}
              <p>Incorrect</p>
              <p>The correct answer was: {{v.ans}}</p>
            {{/if}}
        {{/eq}}

        {{#eq k "violDescUser"}}
          <p>Describe the violation (Answers may vary): </p>
          <p>You answered: {{v.usrAns}}</p>
          <p>We answered: {{v.ans}}</p>
        {{/eq}}

        {{#eq k "endangered"}}
          <p>Is there a possibility of endangerment?</p>
          <p>You answered: {{v.usrAns}}</p>
            {{#if v.correct }}
              <p>Correct!</p>
            {{else}}
              <p>Incorrect</p>
              <p>The correct answer was: {{v.ans}}</p>
            {{/if}}
        {{/eq}}

        {{#eq k "responsibleParty"}}
          <p>Who would be the responsible party in this case?</p>
          <p>You answered: {{v.usrAns}}</p>
            {{#if v.correct }}
              <p>Correct!</p>
            {{else}}
              <p>Incorrect</p>
              <p>The correct answer was: {{v.ans}}</p>
            {{/if}}
        {{/eq}}

        {{#eq k "referral"}}
          <p>Where should this be referred?</p>
          <p>You answered: {{v.usrAns}}</p>
            {{#if v.correct }}
              <p>Correct!</p>
            {{else}}
              <p>Incorrect</p>
              <p>The correct answer was: {{v.ans}}</p>
            {{/if}}
        {{/eq}}

    {{/each}}


  </div>
  <br />
  <hr />

{{/each}}
