<div>
  <h1>Here are the answers</h1>
  <div>
    {{#each answers}}
      <ol>
        <li>{{violStructID}}</li>
        <li>{{violYN}}</li>
        <li>{{codeId}}</li>
        <li>{{violDescUser}}</li>
        <li>{{endanger}}</li>
        <li>{{responsibleParty}}</li>
        <li>{{referral}}</li>
        <li>{{sceneName}}</li>
        <li>{{indexNumber}}</li>
      </ol>
    {{/each}}
  </div>
</div>
<br />
<br />
<br />
<div>
  <h1> Here are your answers </h1>
  <div>
    {{#each usrAns}}
      <ol>
        <li>{{violStructID}}</li>
        <li>{{violYN}}</li>
        <li>{{codeId}}</li>
        <li>{{violDescUser}}</li>
        <li>{{endanger}}</li>
        <li>{{responsibleParty}}</li>
        <li>{{referral}}</li>
        <li>{{sceneName}}</li>
        <li>{{indexNumber}}</li>
      </ol>
    {{/each}}
  </div>
</div>