<div class = 'container'>

  <div class = 'heading'>
    <h2>Final Report</h2>
    <h5 id = "emailField">Email: {{email}}</h5>
  </div>

  <div id = "download-block">
    <p id = "download-text">Download PDF</p>
  </div>

{{# each answers as |value key|}}

  {{#eq value "Error"}}
    <div class = "block-item">
      <div class = "scene-block">
        <p class = "identifiers incorrect"> ERROR </p>
      </div>
    </div>
  {{/eq}}

  <div class = "block-item">
      <div class = "scene-block">
            <p class = "identifiers">{{value.location.id}} -- {{value.violStructID.id}}</p>
      </div>

    <div class = "answer-block">
        <div class = "question-row">
          <p class = "question-item question-title">Question:</p>
          <div class = "answer-columns">
            <p class = "answer-title answer-item usr-col">You Answered:</p>
            <p class = "answer-title answer-item key-col">We Said:</p>
          </div>
        </div>
    </div>

    {{# each value as |v k|}}

        {{#eq k "violYN"}}
        <div class = "question-row odd">
          <p class = "question-item">Were there any violations?</p>

          <div class = "answer-columns">

            {{#if v.correct}}
              <p class = "answer-item usr-col">{{v.usrAns}}</p>
            {{else}}
              <p class = "answer-item usr-col incorrect">{{v.usrAns}}</p>
            {{/if}}

            <p class = "answer-item key-col">{{v.ans}}</p>
          </div>

        </div>
        {{/eq}}

        {{#eq k "codeId"}}
        <div class = "question-row">
          <p class = "question-item">Were there any citable codes?</p>
          <div class = "answer-columns">

            {{#if v.correct}}
              <p class = "answer-item usr-col">{{v.usrAns}}</p>
            {{else}}
              <p class = "answer-item usr-col incorrect">{{v.usrAns}}</p>
            {{/if}}

            <p class = "answer-item key-col">{{v.ans}}</p>
          </div>
        </div>
        {{/eq}}

        {{#eq k "violDescUser"}}
        <div class = "question-row odd">
          <p class = "question-item">Describe the violation: (Answers will vary)</p>
          <div class = "answer-columns">
            {{#eq v.correct "Variable"}}
              <p class = "answer-item usr-col">{{v.usrAns}}</p>
            {{else}}
              <p class = "answer-item usr-col incorrect">{{v.usrAns}}</p>
            {{/eq}}
            <p class = "answer-item key-col">{{v.ans}}</p>
          </div>
        </div>
        {{/eq}}

        {{#eq k "endanger"}}
        <div class = "question-row">
          <p class = "question-item">Is there a possibility of endangerment?</p>
          <div class = "answer-columns">

            {{#if v.correct}}
              <p class = "answer-item usr-col">{{v.usrAns}}</p>
            {{else}}
              <p class = "answer-item usr-col incorrect">{{v.usrAns}}</p>
            {{/if}}

            <p class = "answer-item key-col">{{v.ans}}</p>
          </div>
        </div>
        {{/eq}}

        {{#eq k "responsibleParty"}}
        <div class = "question-row odd">
          <p class = "question-item">Who would be the responsible party in this case?</p>
          <div class = "answer-columns">

            {{#if v.correct}}
              <p class = "answer-item usr-col">{{v.usrAns}}</p>
            {{else}}
              <p class = "answer-item usr-col incorrect">{{v.usrAns}}</p>
            {{/if}}

            <p class = "answer-item key-col">{{v.ans}}</p>
          </div>
        </div>
        {{/eq}}

        {{#eq k "referral"}}
        <div class = "question-row">
          <p class = "question-item">Where should this be referred?</p>
          <div class = "answer-columns">

            {{#if v.correct}}
              <p class = "answer-item usr-col">{{v.usrAns}}</p>
            {{else}}
              <p class = "answer-item usr-col incorrect">{{v.usrAns}}</p>
            {{/if}}

            <p class = "answer-item key-col">{{v.ans}}</p>
          </div>
        </div>
        {{/eq}}
    {{/each}}

  </div>

{{/each}}

  <div class = "footer">
    <h5>Questions? Comments? Contact Us at support@nephtc.org</h5>
    <h6>Copyright © 2017 New England Public Health Training Center</h6>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.min.js"></script>

<script type="text/javascript">

  function getQuestionObj (block) {
    var usrData = [];
    for (var j = 2; j < block.length; j++) { // start at 2; first and second child in lines above
      var row = block[j].children;
      var question = row[0].innerText;
      var usrAns = row[1].children[0].innerText;
      var ans = row[1].children[1].innerText;
      var data = {"question": question, "usrAns": usrAns, "ans": ans};
      usrData.push(data);
    }
    return usrData;
  }

  $(document).ready(function(){
    $("#download-block").on('click', function(){
      var usrEmail = $("#emailField")[0].innerText;
      var doc = new jsPDF ('p', "pt");
      doc.text(7, 20, "Final Report");
      doc.text(7, 40,  usrEmail);
      var blockitems = $('.block-item');
      for (var i = 0; i < blockitems.length; i ++) {
        // Get info for one pdf block
        var locationTitle = blockitems[i].children[0].children[0].innerText;
        var columns = [
          {title: "Question:", dataKey: "question"}, 
          {title: "You Said:", dataKey: "usrAns"}, 
          {title: "We Said:", dataKey: "ans"}
        ];
        var rows = getQuestionObj(blockitems[i].children);
        if (i < 1 ) {
          doc.text(7, 80, locationTitle);
          doc.autoTable(columns, rows, {
            startY: 85,
            margin: {horizontal: 7},
            styles: {overflow: 'linebreak', columnWidth: 'auto'},
            columnStyles: {
              question: {columnWidth: 150},
              usrAns: {columnWidth: 215},
              ans: {columnWidth: 215}
            },
            headerStyles: {
              fillColor: [140, 140, 140],
              fontSize: 14
            }
          });
        } else {

          var pageHeight = 792;
          var currentLine = doc.autoTable.previous.finalY + 30;

          if ((pageHeight - currentLine) < 200) {
            doc.addPage();
            var currentLine = 25;
          }

          doc.text(7, currentLine, locationTitle);
          doc.autoTable(columns, rows, {
            startY: currentLine + 5,
            margin: {horizontal: 7},
            styles: {overflow: 'linebreak', columnWidth: 'auto'},
            columnStyles: {
              question: {columnWidth: 150},
              usrAns: {columnWidth: 215},
              ans: {columnWidth: 215}
            },
            headerStyles: {
              fillColor: [140, 140, 140],
              fontSize: 14
            }
          });
        }
      }
      doc.output('save', 'final_report.pdf');
    });
  });

</script>


















